body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.calculator {
    max-width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f8ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#tabela-pagamentos {
    margin-top: 10%;
    display: none;
    border-collapse: collapse;
    width: 100%;
}

table {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

td {
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    text-align: center;
    background-color: #beebaf;
}

th {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #f2f2f2;
    border: none;
    text-align: center;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-right: 10px;
}

    button:hover {
        background-color: #006666;
    }
